<div class="header">
  <div class="inner-header">
    <h1 class="title">
    飯テロ.
    </h1>
    <li class='new-post'>
      <%= link_to "New Post", new_tweet_path, class:"post-btn"%>
    </li>
  </div>
</div>

<div class="main">
  <div class="message-wrap">
    <% @tweets.each do |tweet|%>
      <div class="message">
        <%= image_tag tweet.image.variant(resize: '500x500'), class: "tweet-img" if tweet.image.attached? %>
        <p class="text">
          <%= tweet.text %>
        </p>
        <ul class="tag">
          <li class="tag-list">
            <%tweet.tags.each do |tag| %>
              #<%=tag.name%>
            <%end%>
          </li>
        </ul>
        <%=link_to "by#{tweet.user.nickname}", user_path(tweet.user.id), class: "tweet-user" %>
      </div>
    <%end%>
  </div>
</div>
