<div class="contents row">
  <div class="container">
    <h3>美味しいごはんを載せてね</h3>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <%= form.file_field :images, name: 'tweet[images][]', placeholder: "Meshi no Gazo", id: 'tweet_image' %>
      <%= form.text_area :text, placeholder: "text", rows: "10" %>
      <%= form.submit "SEND" %>
      <div id="image-list"></div>
    <% end %>
  </div>
</div>

<% @tweet.images.each do |image| %>
  <%= image_tag image, class: 'images' %>
<% end %>
