<h2>投稿一覧</h2>
<%= @tag_list.each do |list| %>
<span><%= link_to list.name, tag_tweets_path(tweet_tag_id: list.id) %><%= "(#{list.posts.count}" %></span>

<%= "#{@tag.name}の投稿一覧" %>
<%= @tweets.each do |tweet| %>
<%= link_to tweet.text, tweet %>