<!DOCTYPE html>
<html>
  <head>
    <title>Meshitero31632</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav_left">
           <h1 class="grid-6"><a href="/">Meshitero</a></h1>
          </div>
        <% if user_signed_in? %>
        <div class="nav_right">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav_btn" %>
          <%= link_to "マイページ", "/users/#{current_user.id}", class: "nav_btn" %>
          <%= link_to "投稿する", new_tweet_path, class: "nav_btn" %>
        </div>
        <% else %>
        <div class="nav_right">
          <%= link_to "ログイン", new_user_session_path, class: "nav_btn" %>
          <%= link_to "新規会員登録", new_user_registration_path, class: "nav_btn" %>
        </div>
        <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p class="copyright">Copyright © Meshitero All rights reserved.</p>
    </footer>
  </body>
</html>
